.custom-div-title {
    padding: 20px;
    font-size: 20px;
    font-style:initial;
    font-family: 黑体; /* 设置字体为黑体 */
    font-weight: bold; /* 设置字体为粗体 */
}

.custom-button {
    font-size: 16px;
    line-height: inherit;
  }